<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <section>
        <div class="left"></div>
        <div class="right">
            <h3>
                standard form of agreement for design services
            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias consequatur nulla ipsam, reprehenderit nostrum sed fugit ullam labore deserunt magni vitae quod illo! Architecto est itaque perferendis velit inventore tenetur soluta, aut blanditiis quos aliquid, numquam quis! Nemo eius culpa autem at aliquam dicta aperiam a optio distinctio voluptatem, numquam repellendus doloribus similique ab eos velit perspiciatis. Dolorem perspiciatis nemo officia eaque fuga nam exercitationem!
            </p>
            <img src="images/ayqa.jpg" alt="">
        </div>
        
    </section>
    <div class="clearfix"></div>
    <section>
        <form>
            <label for="firstname">Adınız:</label> 
            <input id="firstname" type="text" name="firstname" placeholder="Adınız...">
            
            <label for="lastname">Soyadınız:</label> 
            <input id="lastname" type="text" name="lastname" placeholder="Soyadınız...">

            <input type="submit" value="Qeydiyyatdan keçin">
        </form>
    </section>
</body>

</html>