* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.clearfix {
    clear: both;
}
.main {
    width:100%;
    height:794px;
    float: left;
    padding-left: 150px;
    background-image: url("../images/plane.jpg");
    background-size: cover;
    box-shadow: 10px 10px 100px rgba(0,0,0,11); 
}
h3 {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(53, 49, 49);
    margin-top: 250px;
}
h1 {
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Patua One', cursive;
    margin-top: 20px;
    font-size: 3em;
}
p {
   text-indent: 10px;
   font-family: 'Titillium Web', sans-serif;
   font-size: 20px;
   margin-top:10px;
   color: rgb(29, 27, 27);
    width:30%;
}

h4 {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(53, 49, 49);
    margin-top: 90px;
}
